body {
  margin: 0;
}

.header {
  overflow: hidden;
  background-color: aqua;
  padding: 20px 0px;
  width: 100%;
}

.header a {
  float: left;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
}

.header a:hover {
  background-color: white;
}

#right:hover {
  background-color: aqua;
}

.navbar {
  float: right;
}

h1 {
  color: red;
  font-family: "Cinzel Decorative", cursive;
  text-align: center;
}

.active {
  font-size: 1.2em;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  justify-content: center;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr auto;
  grid-template-areas:
    ". h h ."
    "c c a a"
    ". q q .";
}

p {
  grid-area: h;
  text-align: justify;
}

fieldset {
}

.fab {
  font-size: 20px;
  padding: 0 10px 0 10px;
}

form {
  grid-area: c;
  margin: 0 50px 0 50px;
}

.address {
  grid-area: a;
  text-align: center;
  margin: 0 50px 0 50px;
}

.address p {
  text-align: center;
}

blockquote {
  grid-area: q;
  text-align: center;
  margin-top: 100px;
}

@media (max-width: 600px) {
  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr auto;
    grid-template-areas:
      ". h ."
      ". c ."
      ". a ."
      ". q .";
  }
  .address {
    margin-top: 50px;
  }
  blockquote {
    margin-bottom: 50px;
  }
}
