body {
  margin: 0 auto;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 25%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  color: white;
  text-align: center;
  padding: 14px 16px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0px 5px 10px 5px;
}

a:hover {
  color: teal;
}

button:hover {
  opacity: 0.9;
}

.home {
  color: teal;
}

.sunglass {
  width: 100%;
  margin: 30px 0px 15px 0px;
}

img {
  margin: 10px;
}

.trio {
  border: 2px solid black;
}

footer {
  background-color: black;
  color: white;
  height: 100px;
  margin-top: 100px;
}

.iconic {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
}

.fab {
  margin: 0px 30px 0px 0px;
}

.nerd {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

#beacon {
  position: relative;
}

.text-block {
  position: absolute;
  bottom: 0.7rem;
  right: 0.7rem;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding-left: 0.7em;
  padding-right: 0.7em;
  margin: 2em;
  font-size: 1.5em;
}

.beacon {
  text-transform: uppercase;
  background-color: white;
  color: black;
  font-weight: 900;
  padding: 20px;
}

.first,
.second,
.third {
  background-color: black;
  padding: 5px;
}

button {
  padding: 15px 20px 15px 20px;
  background-color: teal;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 4em;
  }
}

@media (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 1000px) {
  .text-block {
    position: relative;
  }
}
