body {
  width: 850px;
  height: 450px;
  margin: 0 auto;
}

main {
  height: 450px;
  background-image: url("../images/space.jpg");
  margin-bottom: 20px;
}

h1 {
  font-family: "Anton", sans-serif;
  font-size: 80px;
  text-align: center;
  color: white;
}

section {
  display: flex;
  height: 324px;
  background-color: rgb(224, 222, 222);
  justify-content: space-between;
}

article {
  width: 270px;
  height: 374px;
}

h3 {
  text-transform: uppercase;
  padding-left: 40px;
}

ul {
  list-style-type: none;
  text-align: left;
}

button {
  background-color: gray;
  color: white;
  margin-top: 10px;
  padding: 7px 15px;
  text-transform: uppercase;
}
