body {
    background: linear-gradient(to right, rgb(39, 203, 216), rgb(147, 96, 159));
}

.personal {
    width: 20%;
    position: absolute;
    top: 150px;
    right: 0px;
}

.dates {
    float: left;
    width: 25%;
}

.content {
    overflow: hidden;
    width: 60%;
}