body {
  margin: 0;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    ". tic ."
    ". tic .";
}

#board {
  display: flex;
  grid-area: tic;
}

.tic {
  width: 200px;
  height: 200px;
}

.middle {
  border-right: 5px solid black;
  border-left: 5px solid black;
}

#top,
#center,
#bottom {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}
