body {
  width: 60px;
  margin: auto;
}

div {
  background-color: blue;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin-bottom: 20px;
}

div:nth-child(odd) {
  background-color: red;
}

#project div:nth-child(odd) {
  transition: all 1.5s ease-in-out, transform 4s;
}

#project:hover > div:nth-child(odd) {
  height: 100px;
  width: 100px;
  transform: translateX(200px) rotate(360deg);
}

#project div:nth-child(even) {
  transition: all 1.5s ease-in-out, transform 1s;
}

#project:hover > div:nth-child(even) {
  height: 25px;
  width: 25px;
  transform: translateX(-200px) rotate(-360deg);
}
